Django
djangorestframework
python-dotenv
python-docx
pypdf
PyPDF2
python-pptx
requests
firecrawl-py
pytesseract
Pillow
pdf2image
easyocr
numpy
sentencepiece
tiktoken
google-cloud-vision
torch
transformers
opencv-python-headless
